@import url(./normalize.css);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@400;600;700&display=swap");

/* font-family: 'Inter', sans-serif;
 */

* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #2a79e0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: end;
  align-items: center;

}

nav{
  margin-right: 25px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: end;
}

ul a {
  font-family: "Inter";
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition: .3s;
}

ul a:hover {
  color: #bbbbbb;
}

.burger{
  width: 28px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  display: none;
  margin: 20px 25px 0 0;
}

.burger span{
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  display: block;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 11px;
  transition: .3s;
}

.burger span:nth-child(1){
  transform: translateY(-11px);
}

.burger span:nth-child(3){
  transform: translateY(11px);
}

.burger:hover span{
  background-color: #bbbbbb;
}

header.open span{
  background-color: #2a79e0;
}

header.open span:nth-child(1){
  transform: translateY(0px) rotate(45deg);
}

header.open span:nth-child(2){
  opacity: 0;
}

header.open span:nth-child(3){
  transform: translateY(0px) rotate(-45deg);
}

main{
  flex-grow: 1;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #f6d053;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: #ffffff;
  width: 227px;
  margin: 30px 0 70px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #f6d052;
  width: 270px;
  margin: 0 0 0 auto;
}

footer {
  margin-top: 70px;
  height: 213px;
  position: relative;
}

.card {
  width: 180px;
  height: 50px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a {
  font-weight: 600;
  font-size: 20px;
  color: #2a79e0;
  text-decoration: none;
}

.card-path {
  margin-top: 12px;
  clip-path: polygon(0% 0%, 100% 0%, 111px 100%, 0% 100%);
}

.footer-bg {
  width: 100%;
  height: 100%;
  background: url(../img/bg_footer.png) no-repeat center/cover;
  position: absolute;
  top: 0;
  z-index: -1;
  clip-path: polygon(0% 100%, 300px 0%, 100% 0%, 100% 100%);
}

@media (max-width: 600px) {
  .burger{
    display: block;
  }
  nav{
    position: absolute;
    top: 0;
    right: -200px;
    visibility: hidden;
  }
  ul{
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 39px 16px 15px;
    border-radius: 10px 0 10px 10px;
  }
  ul a{
    color: #2a79e0;
  }
  header.open nav{
    visibility: visible;
    transform: translateX(-120%);
  }
}